.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Căn giữa các sản phẩm theo chiều ngang */
  gap: 20px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  width: 250px;
  height: 350px; /* Đặt chiều cao cố định */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Căn đều khoảng cách giữa các phần tử */
  align-items: center;
  text-align: center;
  padding: 10px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
height: 50px;
max-height: 100%;
  max-width: 100%;
  border-radius: 8px;
}

.product-name {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.product-price {
  font-size: 16px;
  color: #e91e63;
  margin-bottom: 10px;
}
